@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<GlobalScoreViewModel>
<head>
    <link rel="stylesheet" href="~/css/candidate_eval.css" asp-append-version="true" />
</head>

<div class="c_eval final_result">  
   <!--<div id="bg">
        <img src="../Images/dem2.jpg" alt="">  
    </div>-->
    <div class="col-md-12">
        <div class="eval_head"> 
        <h2>Final Result</h2> 
    </div>
    </div>
    <div class="container">
        <div class="custom_table table-responsive">
            <table id="tbl_score" class="table table-bordered">  
                <thead>
                    <tr>
                        <th>Job Role</th>
                        <th>Candidate Name</th>
                        <th>Proposed Compensation(EUR)</th>
                        <th>Recommendation</th>
                        <th>Is Hired ?</th>
                        <th>Actual Compensation(EUR)</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        @foreach (var role in Model)
                        {
                            <tr id="@role.GlobalScoreId">
                                <td>@role.JobName</td>
                                <td>@Html.ActionLink(role.CandidateName,"Candidate","Candidate",new { argScheduleID = role.ScheduleId},new {target = "_blank"})</td>
                                <td>@role.ProposedCompensation</td>
                                <td>@role.Recommendation</td>
                                @if(role.IsHired.HasValue && role.IsHired.Value)
                                {
                                    <td><input id=@String.Concat(role.GlobalScoreId,"_chk") type="checkbox" checked onchange="SaveData(@role.GlobalScoreId)"></td>
                                }
                                else
                                {
                                    <td><input id=@String.Concat(role.GlobalScoreId,"_chk") type="checkbox" onchange="SaveData(@role.GlobalScoreId)"></td>
                                }

                                <td><input type="number" id=@String.Concat(role.GlobalScoreId,"_text") value=@role.ActualCompensation onblur="SaveData(@role.GlobalScoreId)"></td>
                            </tr>
                        }
                    }
                    else
                    {
                    <td colspan="6">No Candidates created</td>
                }
                    </tbody>
                </table>
        </div>
    </div>
</div>

@section scripts
{
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/fc-4.1.0/fh-3.2.3/r-2.3.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/fc-4.1.0/fh-3.2.3/r-2.3.0/datatables.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        initialiseDataTable();
    })
    function initialiseDataTable() {
        $('#tbl_score').DataTable({
            responsive: true
        });
    }

    function SaveData(argGlobalScoreID){
        var IsChecked = $("#"+argGlobalScoreID+"_chk").prop("checked");
        var ActualCompensation = $("#"+argGlobalScoreID+"_text").val();

        showLoader();

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveCandidateHiringDetails","GlobalScore")',
            data: jQuery.param({ argIsHired: IsChecked, argActualCompensation: ActualCompensation, argGlobalScoreID: argGlobalScoreID}),
            success: function (response) {
                hideLoader();
            },
            error: function (response) {
                hideLoader();
            }
        });
    }
</script>
}