@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<GlobalScoreViewModel>
<head>
    <link rel="stylesheet" href="~/css/candidate_eval.css" asp-append-version="true" />
</head>

<div class="c_eval final_result"> 
    <div id="bg">
        <img src="../Images/dem2.jpg" alt="">  
    </div>
    <div class="col-md-12">
        <div class="eval_head"> 
        <h2>Final Result</h2>
    </div>
    </div>
    <div class="container">
        <div class="custom_table table-responsive">
            <table id="tbl_score" class="table table-bordered">  
                <thead>
                    <tr>
                        <th>Job Role</th>
                        <th>Number of Selected Candidates</th>
                        <th>Candidate Name</th>
                        <th>Compensation(EUR)</th>
                        <th>Decision</th>
                        <th>Actual Compensation</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        @foreach (var role in Model)
                        {
                            <tr>
                                <td>@role.JobName</td>
                                <td>2</td>
                                <td>@role.CandidateName</td>
                                <td>@role.ProposedCompensation</td>
                                <td>@role.IsHired</td>
                                <td>@role.ActualCompensation</td>
                            </tr>
                        }
                    }
                    else
                    {
                    <td colspan="6">No Candidates created</td>
                }
                    </tbody>
                </table>
        </div>
    </div>
</div>

@section scripts
{
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/fc-4.1.0/fh-3.2.3/r-2.3.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/fc-4.1.0/fh-3.2.3/r-2.3.0/datatables.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        initialiseDataTable();
    })
    function initialiseDataTable() {
        $('#tbl_score').DataTable({
            responsive: true
        });
}
</script>
}