@using HRAnalytics.Web.Models
@model CriteriaViewModel
@{
    IEnumerable<SelectListItem> Criterias = ViewBag.Citeria;
}

<head>
<link rel="stylesheet" href="~/css/candidate_eval.css" asp-append-version="true" />
</head>

<div class="c_eval">
   <!--<div id="bg">
      <img src="../Images/dem2.jpg" alt=""> 
   </div>-->
   <div class="col-md-12">
       <div class="eval_head">
      <h2>Evaluation Criteria</h2>
      </div>
   </div>
   <div class="container"> 
       <div class="error_msg">
             <partial name="_partialStatusMessage" />  
       </div>
   </div>
   
   <div class="row"> 
  <div class="col-md-12">
      <div class="candidate_evaluation role_cri eval_cri">

        

         <form id="candidate_pr" class="form-horizontal"  method="POST" new { onsubmit = "showLoader();"}>  
             @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*Role Dropdown*@
             <div class="form-group">
				<label class="control-label" asp-for="@Model.Criteria.JobId">Job Role:</label> 
				@Html.DropDownListFor(m => m.Criteria.JobId, ViewBag.Jobs as SelectList, "--Select--", new { @class = "form-control", @id = "job-role" })
				<span asp-validation-for="@Model.Criteria.JobId" class="text-danger"></span>
			</div>

            @*SubCriteria Dropdown*@
            <div class="form-group">
				<label class="control-label" asp-for="@Model.Criteria.CriteriaId">Job Criteria:</label>
                @Html.DropDownListFor(m => m.Criteria.CriteriaId, Criterias, "--Select--", new { @class = "form-control", id="job-criteria"})
				<span asp-validation-for="@Model.Criteria.CriteriaId" class="text-danger"></span>
			</div>

            @*Criteria Description*@
            <div class="form-group">
               <label class="control-label" asp-for="@Model.Criteria.CriteriaDescription">Criteria Description:</label>  
               @Html.TextAreaFor(m=>m.Criteria.CriteriaDescription,new {@class="form-control",@rows=10,@cols=150})
               <span asp-validation-for="@Model.Criteria.CriteriaDescription" class="text-danger"></span>
            </div>

          
            <div class="sub-btn">
               <button type="submit" id='submitButton' class="btn btn-primary" formaction="@Url.Action("SaveJobCriteria","EvaluationCriteria")">Create</button>
            </div>
			
         </form>
      </div>
      </div>
      </div>
      <partial name="_partialSubCriteriaCreated"/>

   </div>




@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/JobCriteria.js"></script>

    <script type="text/javascript">
          var URL = {};
          URL["GetCriteriaForJobs"] = "@Url.Action("GetCriteriaForJobs", "EvaluationCriteria")";
    </script>
    <script type="text/javascript">

    $(document).ready(function(){ 
        initialiseDataTable();
    })
    function initialiseDataTable() { 
        $('#tbl_eval').DataTable({
            responsive: true
        });
}
</script>

}
