@using HRAnalytics.Web.Models
@{
    IEnumerable<SelectListItem> ratings = ViewBag.RatingScale;
}

@model CandidateScoreViewModel 


	<head>
       
		<link rel="stylesheet" href="~/css/candidate_eval.css" asp-append-version="true" />  
	</head>
	<body>
<div class="c_eval">

   <div class="col-md-12"> 
       <div class="eval_head">
      <h2>Candidate Evaluation</h2> 
      </div>
   </div>
   <div class="col-md-12">
      <div class="candidate_evaluation">
         <div class="form-group">
            <label class="control-label" for="c_name">Candidate Name:</label> 
            <p id="cname">@Model.candidateDetail.CandidateName</p>
         </div>
         <div class="form-group">
            <label class="control-label" for="role">Role:</label>
            <p id="role">@Model.candidateDetail.RoleName</p>
         </div>
      </div>
      <div class="row can_close">
          <div class="col-md-4">
       <partial name="_partialStatusMessage" />
            </div>
       </div>
      <div class="custom_table">
         

         <form id="candidate_pr" class="form-horizontal" action="/" method="POST" new { onsubmit = "showLoader();"}>

            @Html.HiddenFor(m=>m.candidateDetail.CandidateName)
            @Html.HiddenFor(m=>m.candidateDetail.RoleName)
            @Html.HiddenFor(m=>m.candidateDetail.CandidateId)
            @Html.HiddenFor(m=>m.candidateDetail.ScheduleID)
            @Html.HiddenFor(m=>m.candidateDetail.IsRated)

             @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <table class="table table-bordered">
               <thead>
                  <tr>
                     <th>Evaluation Criteria</th>
                     <th>Description</th>
                     <th>Rating</th>
                     <th>Comments</th>
                  </tr>
               </thead>
               <tbody>

                  @if(Model.candidateRatings!=null && Model.candidateRatings.Count > 0)
                    {
                          for(int i=0;i<Model.candidateRatings.Count;i++)
                          {
                              <tr>
                             <td>@Model.candidateRatings[i].CriteriaName</td>
                             <td>@Model.candidateRatings[i].CriteriaDescription</td>
                             <td>
                                 @if(Model.candidateDetail.IsRated.Value)
                                    {
                                       @Html.DropDownListFor(m => m.candidateRatings[i].Rating, ratings, "--Select--", new { @class = "form-control", @id = "role", disabled = "disabled" })
                                    }
                                    else
                                    {
                                       @Html.DropDownListFor(m => m.candidateRatings[i].Rating, ratings, "--Select--", new { @class = "form-control", @id = "role" })           
                                    }
                                            
                                 <span asp-validation-for="@Model.candidateRatings[i].Rating" class="text-danger"></span>
                             </td>
                             <td>
                                  @if(Model.candidateDetail.IsRated.Value)
                                    {
                                       @Html.TextAreaFor(m=>m.candidateRatings[i].Comments, new { @class = "form-control", @rows=3, disabled = "disabled" })      
                                    }
                                    else
                                    {
                                        @Html.TextAreaFor(m=>m.candidateRatings[i].Comments, new { @class = "form-control", @rows=3 })           
                                    }
                                            
                                 <span asp-validation-for="@Model.candidateRatings[i].Comments" class="text-danger"></span>
                             </td>

                             @Html.HiddenFor(m=>m.candidateRatings[i].CriteriaId)
                             @Html.HiddenFor(m=>m.candidateRatings[i].JobId)
                             @Html.HiddenFor(m=>m.candidateRatings[i].CriteriaName)
                             @Html.HiddenFor(m=>m.candidateRatings[i].CriteriaDescription)


                             </tr>
                          }
                     }
                    else
                    {
                      <td colspan="4">No criterias available</td>      
                    }

               </tbody>

            </table>
							                 <div class="sub-btn">
                        @if(!Model.candidateDetail.IsRated.Value)
                        {
                            <button type="submit" id='submitButton' class="btn btn-primary" formaction="@Url.Action("SaveCandidateRating","Candidate")">Save</button>
                        }

               </div>
         </form>
      </div>
   </div>   
</div>



</body>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

}

