

<head>
   
    <link rel="stylesheet" href="~/css/candidate_eval.css" asp-append-version="true" />
</head>
<div class="c_eval">

<!--<div id="bg">
<img src="../Images/dem2.jpg" alt="">   
</div>-->
       <div class="eval_head">   
      <h2>Set Job Priority</h2> 
      </div>
      <div class="confirmation-message">

</div>
<div class="container">
    <div class="prio_crit">
 <form id="candidate_pr" class="form-horizontal"  method="POST">  
    <div class="selt">
        @Html.DropDownList("JobRole",ViewBag.Jobs as SelectList, "--Select--", new { @class = "form-control", @id = "ddl_job_role", @onchange = "populateCriterias()"})
    </div>

    <div id="div_slidersection">

    </div>
    <div class="prio_btns"> 


    <input type="button" class="btn_Save" value = "Save" style="display:none;" onclick="SaveWeightage(2)"/>

    <input type="button" class="btn_Previous" value = "Previous" style="display:none;" onclick="window.location.href='@Url.Action("Index", "Priority")';"/>

    </div>

</form>
</div>
</div>
</div>


<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="~/js/Slider.js"></script>

<script type="text/javascript">
    var URLConstants = {};
    URLConstants["GetAHPJobPairs"] = '@Url.Action("GetAHPJobPairs", "Priority")';
    URLConstants["SaveAHPRatings"] = '@Url.Action("SaveAHPRatings", "Priority")';

    URLConstants["GetAHHCriteriaPairs"] = '@Url.Action("GetAHHCriteriaPairs", "Priority")';

</script>
